<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="body-register">
        <div class="register-container">
            <h1>Sign Up</h1>
            <form action="/register" method="post">
                <div class="input-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" placeholder="Type your email" name="email">
                </div>

                <div class="input-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" placeholder="Create a password" name="password">
                </div>

                <div class="input-group">
                    <label for="confirm-password">Confirm Password</label>
                    <input type="password" id="confirm-password" placeholder="Confirm your password"
                        name="confirmpassword">
                </div>

                <div class="terms">
                    <input type="checkbox" id="terms">
                    <label for="terms">I agree to the <a href="#">Terms of Service</a> and <a href="#">Privacy
                            Policy</a></label>
                </div>

                <button type="submit" class="register-btn">SIGN UP</button>
            </form>

            <div class="or-divider">Or Sign Up Using</div>

            <div class="social-register">
                <a href="/auth/google" class="social-btn google">
                    <img src='https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/google.svg' alt="google-icon"
                        class="google-logo">
                    <span class="btn-text">Sign in with Google</span>
                </a>
            </div>

            <div class="login-text">Already have an account?</div>
            <a href="/login" class="login-link">LOGIN</a>
        </div>
    </div>
    </div>
</body>

</html>