<!DOCTYPE html>
<html lang="vi">

<head>
  <meta charset="UTF-8">
  <title>VTVT Store - ฤแบทt lแบกi mแบญt khแบฉu</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap nแปi bแป -->
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>

  <!-- <form method="POST" action="/reset-password" class="reset-form">
    <input type="hidden" name="token" value="<%= token %>">

    <h4 class="text-center mb-4">๐ ฤแบทt lแบกi mแบญt khแบฉu</h4>

    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" name="email" id="email" class="form-control" placeholder="Nhแบญp email cแปงa bแบกn" required>
    </div>

    <div class="mb-3">
      <label for="newPassword" class="form-label">Mแบญt khแบฉu mแปi</label>
      <input type="password" name="newPassword" id="newPassword" class="form-control" placeholder="Nhแบญp mแบญt khแบฉu mแปi"
        required>
    </div>

    <button type="submit" class="btn btn-primary w-100">โ ฤแบทt lแบกi mแบญt khแบฉu</button>

    <a href="/login">โ Quay lแบกi ฤฤng nhแบญp</a>
  </form> -->

  <div class="body-resetPassword">
    <div class="resetPassword-container">
      <h1>ฤแบทt lแบกi mแบญt khแบฉu</h1>
      <form method="POST" action="/reset-password" class="reset-form">
        <input type="hidden" name="token" value="<%= token %>">
        <div class="input-group">
          <label for="email">Email</label>
          <input type="text" id="email" placeholder="Nhแบญp email ฤแป xรกc nhแบญn" name="email" required>
        </div>

        <div class="input-group">
          <label for="newPassword">Mแบญt khแบฉu mแปi</label>
          <input type="password" id="newPassword" placeholder="Nhแบญp mแบญt khแบฉu mแปi" name="newPassword" required>
        </div>

        <button type="submit" class="resetPassword-btn">ฤแบทt lแบกi mแบญt khแบฉu</button>

      </form>
      <hr>
      <div class="return-btn">
        <a href="/login" class="text-decoration-none">Quay lแบกi ฤฤng nhแบญp</a>
      </div>
    </div>
  </div>


</body>

</html>